body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: left;
}

.corner {
    position: absolute;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: large;
}

#upper-left {
    top: 0;
    left: 0;
}

#lower-left {
    bottom: 0;
    left: 0;
    flex-direction: row;
}

#upper-right {
    top: 0;
    right: 0;
}

#upper-right > div {
    background-color: #ffffff;
    padding: 10px 15px;
    border-radius: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

#status {
    width: 10px;
    height: 10px;
    background-color: rgb(238, 214, 0);
    border-radius: 50%;
    margin-right: 10px;
}

#lower-left div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

svg {
    width: 20px;
    height: 20px;
}

#name {
    font-size: xx-large;
    font-weight: bold;
}

#title {
    font-size: x-large;
    font-weight: bold;
}
