body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: left;
}

.corner {
    position: absolute;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: large;
}

#upper-left {
    top: 0;
    left: 0;
}

#lower-left {
    bottom: 0;
    left: 0;
    flex-direction: row;
}

#lower-left div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

svg {
    width: 20px;
    height: 20px;
}

#name {
    font-size: xx-large;
    font-weight: bold;
}

#title {
    font-size: x-large;
    font-weight: bold;
}